<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Veículo</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="container-content">
    <section class="section section-bcg">
      <div class="container">
        <h1 class="title">Buscar Veículo</h1>
        <form id="form-busca" class="form">
          <div class="field">
            <label class="label">ID do Veículo</label>
            <div class="control">
              <input
                class="input"
                type="number"
                id="id"
                placeholder="Digite o ID do veículo"
                required
              />
            </div>
          </div>
          <div class="control">
            <button class="button is-link" type="submit">Buscar Veículo</button>
          </div>
        </form>
      </div>
    </section>

    <script src="../js/scriptl.js"></script>
  </body>
</html>
