<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Lista de Veículos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="section-bcg">
  <section class="section container has-text-centered">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
      <h1 class="title has-text-centered">Lista de Veículos</h1>
      <a href="dashboard.html" class="button is-link">Menu anterior</a>  
  </div>
    <table class="table is-fullwidth is-bordered is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">ID</th>
          <th class="has-text-centered">Marca</th>
          <th class="has-text-centered">Modelo</th>
          <th class="has-text-centered">Ano</th>
          <th class="has-text-centered">Preço</th>
          <th class="has-text-centered">Alterar</th>
          <th class="has-text-centered">Excluir</th>
        </tr>
      <tbody id="tabela-veiculos"></tbody>
      </thead>
    </table>

    <script src="../js/scriptl.js"></script>
  </section>
</body>

</html>